.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile h1 {
  margin-bottom: 5px;
}

.profile h2 {
  color: #888;
  margin-bottom: 10px;
}

.profile h3 {
  margin-bottom: 5px;
}

.profile ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

.profile ul li {
  list-style-type: none;
}

.profile a {
  color: #007bff;
  text-decoration: none;
}

.profile a:hover {
  text-decoration: underline;
}
